.authorization{
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 30px;
}

.authorization__title{
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

.authorization__input{
  display: block;
  margin: 0 auto;
  width: 250px;
  font-size: 18px;
	padding: 15px;
	color: #000;
	margin-bottom: 30px;
	background: transparent;
	background: #ffffff0d;
  border-top: 1px solid #ffffff33;
  border-left: 1px solid #ffffff33;
  box-shadow: 5px 5px 30px #00000033;
	border-radius: 20px;
}

input{
	outline: none;
	border: none;
}

.authorization__label{
  display: block;
  user-select: none;
  text-align: center;
  margin-bottom: 30px;
}

.authorization__checkbox{
  margin-left: 20px;
}

.authorization__error{
  text-align: center;
  margin-bottom: 30px;
  color: #b60707;
}

.authorization__save{
  display: block;
  margin: 0 auto;
  width: 250px;
  font-size: 18px;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid #549af5;
  background-color: #fff;
}

.authorization__save:hover{
  color: #0f27ad;
  cursor: pointer;
}

.authorization__save:active{
  color: #75a7f3;
}